@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This project are my effort for independent coursework. I follow tutorial provided by Microsoft on how to build my first web application using ASP.NET MVC. This is the beginning of my journey to explore .NET framework. </p>
