@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    No 524, Blok L6, Kolej 14,<br />
    Universiti Putra Malaysia<br />
    43400 Serdang,<br />
    Selangor Darul Ehsan,<br />
    <abbr title="Phone">P:</abbr>
    +60113306799
</address>

<address>
    <strong>Support:</strong> <a href="mailto:fazleysanusi8@gmail.com">fazleysanusi8@gmail.com</a><br />
    <strong>My Website:</strong> <a href="fazleysanusi.me">fazleysanusi.me</a>
</address>
